.nutritionCard {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 10px;
  font-family: Polysans, sans-serif;
  color: #393e46;
}

.nutritionDetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxDesign {
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
